extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            icon
            svg
                use(xlink:href='#')
            | #{text}

block content
    main.main
        nav.nav__profile 
            ul.side-nav
                +navItem('perfil', 'Perfil', i.fas.fa-user-circle(aria-hidden='true'), true)
                +navItem('quizzes', 'Quices', '#')
                +navItem('courses', 'Cursos', '#')
                +navItem('grades', 'Calificaciones', '#')
                +navItem('settings', 'Configuración', '#')
        block profileContent