doctype html
html
    head
        block head
            
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel="icon" href="data:,")
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap",      rel="stylesheet")
            link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
            link(rel="stylesheet", href="/css/style.css")
            title PvPScience | #{title}

    body
        // HEADER
        include _header
        // CONTENT
        block content
            h1 This is a placeholder heading

        // FOOTER
        //-include _footer
        
        script(src='/js/bundle.js')
        



