extends base 

block content 
    section.section__quiz.main-grid
        h2.title__sessin Crear Sesión de Estudio
        form#form__quiz
            .form__group    
                label(for="name") Nombre
                input#name(type="text" name='name' min=3 max=20)
            .form__group
                label(for="nQuestions") Número de Preguntas
                input#nQuestions(type="number" name='nQuestions' min=3 max=20, value=5)
            .form__group
                label(for='category') Materia 
                select#category.form__select(name="category")
                    option(value="" disabled selected hidden) Selecciona una materia
                    option(value="Matemáticas") Matemáticas 
                    option(value="Física")  Física

            .form__group
                label(for='topic') Temas
                select.algo#topic.form__select(name='topic')
                
            .form__group
                label(for='subtopic') Subtemas
                select#subtopic.form__select(name='subtopic')

            .form__group
                label(for="difficult") Dificultad Promedio
                select#difficult.form__select(name='difficult')
                    each number in [0, 1, 2, 3, 4, 5]
                        option.select__option-difficulty(selected=`${number}`)= `${number}`

            .form__group
                label(for="duration") Duración
                select#duration.form__select(name='duration')
                    each duration in [15, 30, 45, 60, 90, 120]
                        option.select__option-time(value= `${duration}`)= `${duration}`

            .form__group
                button.btn.btn__formQuiz Crear Sesión 
        