$color-primary-light: #999;
$color-titles: #333;
$color-border-bottom: #d9d9d9;
$color-input-text: #555;
$color-link-hover: #38d39f;
$color-primary-btn: #32be8f;
$color-secondary-btn: #38d39f;
$color-white: #fff;
